.sidebar {
  background-color: $color-primary;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;

  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #FFF;
  height: 2px;
  width: 45px;
  margin-top: 4rem;

  &::before, &::after {
    content: "";
    background-color: #FFF;
    display: block;
    height: 2px;
    width: 45px;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }
}